:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  overflow-x: hidden;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  button {
    margin-bottom: 10px;
  }
}

.management-interface {
  width: 80%;
  margin: 20px;

  .management-row {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.question-list {
  overflow-y: scroll;
  margin: 20px;
}
