<mat-card class="management-interface">
  <input #uploadJsonInput (change)="examManager.import($event.target.files)" hidden type="file">
  <div class="buttons management-row">
    <button (click)="examManager.save()" [disabled]="!examManager.modified" color="primary" mat-raised-button>Save
    </button>
    <button (click)="examManager.export($event)" mat-raised-button>Export .json</button>
    <button (click)="uploadJsonInput.click()" mat-raised-button>Import .json</button>
    <button [routerLink]="['/evaluate', examManager.exam.id]" mat-raised-button>Grade Exam</button>
    <button (click)="convertExamType()" mat-raised-button>Convert
      to {{examManager.exam.markingSheetOnly ? 'whole exam editor' : 'Mark-Sheet only'}}</button>
  </div>
  <mat-form-field class="management-row">
    <mat-label>Exam Name</mat-label>
    <input (change)="examManager.modified = true" [(ngModel)]="examManager.exam.title" matInput>
  </mat-form-field>
  <mat-form-field class="management-row">
    <mat-label>Exam Date</mat-label>
    <input (change)="examManager.modified = true" [(ngModel)]="examManager.exam.date" matInput type="date">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Answer options</mat-label>
    <mat-select (selectionChange)="examManager.modified = true" [(value)]="!!examManager.exam.trueAndFalse">
      <mat-option [value]="true">True and False options</mat-option>
      <mat-option [value]="false">Only mark True answers</mat-option>
    </mat-select>
  </mat-form-field>
  <p *ngIf="!examManager?.exam.markingSheetOnly" class="management-row">
    Add new Element:
    <mat-button-toggle-group aria-label="Font Style" name="fontStyle">
      <mat-button-toggle (click)="createQuestion()">Question</mat-button-toggle>
      <mat-button-toggle (click)="createPageBreak()">Page break</mat-button-toggle>
      <mat-button-toggle (click)="createPdf()">Custom PDF</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
  <p *ngIf="examManager?.exam.markingSheetOnly" class="management-row">
    <button (click)="createQuestion()" mat-raised-button>Add Question</button>
  </p>
</mat-card>
<div *ngIf="!!examManager && !examManager.exam.markingSheetOnly" class="question-list">
  <app-exam-element-editor (moved)="activeIndex = -1"
                           (toggle)="manageToggle($event)"
                           *ngFor="let element of examManager.exam.elementOrder; index as i; trackBy: trackByFn;"
                           [activeIndex]="activeIndex"
                           [elementIndex]="i" [element]="element"></app-exam-element-editor>
</div>

<div *ngIf="!!examManager && examManager.exam.markingSheetOnly">
  <mat-card *ngFor="let question of examManager.exam.questions; index as i" class="question-mark-editing-entry">
    <mat-card-header class="exam-element-card-header">
      <mat-icon (click)="deleteQuestion(question, i)" class="visibility-toggle">delete</mat-icon>
      <mat-card-title>Question {{i + 1}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Number of answers</mat-label>
        <input (change)="changeNumberOfAnswers($event, question)" [ngModel]="examManager.realMarks(question).length"
               matInput max="10" min="1"
               type="number">
      </mat-form-field>
      <div class="mark-checkbox-container">
        <mat-checkbox (click)="toggleCheckbox(i,j)"
                      *ngFor="let mark of examManager.realMarks(question); index as j" [checked]="mark"
                      [disableRipple]="true"
                      [disabled]="true" [labelPosition]="'before'">{{examManager.getChar(j)}}</mat-checkbox>
      </div>
    </mat-card-content>
  </mat-card>
</div>
