<button (click)="createNew()" color="accent" mat-raised-button class="new-exam-button">Create New Exam</button>

<table [dataSource]="store.examEntries" mat-table>
  <ng-container matColumnDef="examName">
    <th *matHeaderCellDef mat-header-cell>Name</th>
    <td *matCellDef="let exam" mat-cell> {{exam.examName}} </td>
  </ng-container>
  <ng-container matColumnDef="lastModified">
    <th *matHeaderCellDef mat-header-cell>Last Modified</th>
    <td *matCellDef="let exam" mat-cell> {{exam.lastModified | date}} </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell>ID</th>
    <td *matCellDef="let exam" mat-cell> {{exam.id}} </td>
  </ng-container>

  <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
  <tr *matRowDef="let myRowData; columns: columnsToDisplay" [routerLink]="['/exam/' + myRowData.id]" mat-row></tr>
</table>
