<button mat-button (click)="createNew()">Create New Exam</button>

<table mat-table [dataSource]="exams">
  <ng-container matColumnDef="examName">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let exam"> {{exam.examName}} </td>
  </ng-container>
  <ng-container matColumnDef="lastModified">
    <th mat-header-cell *matHeaderCellDef>Last Modified</th>
    <td mat-cell *matCellDef="let exam"> {{exam.lastModified | date}} </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let exam"> {{exam.id}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" [routerLink]="['/exam/' + myRowData.id]"></tr>
</table>
