<button (click)="createNew()" class="new-exam-button" color="accent" mat-raised-button>Create New Exam</button>

<h1 *ngIf="!store?.examEntries || ((store.examEntries | async).length === 0) ">
  Yo do not have any exams stored yet. If you are unsure what to do, visit our <a [routerLink]="['/about']">About
  page</a>.
</h1>

<table *ngIf="store?.examEntries" [dataSource]="store.examEntries" mat-table>
  <ng-container matColumnDef="examName">
    <th *matHeaderCellDef mat-header-cell>Name</th>
    <td *matCellDef="let exam" mat-cell> {{exam.examName}} </td>
  </ng-container>
  <ng-container matColumnDef="lastModified">
    <th *matHeaderCellDef mat-header-cell>Last Modified</th>
    <td *matCellDef="let exam" mat-cell> {{exam.lastModified | date}} </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell>ID</th>
    <td *matCellDef="let exam" mat-cell> {{exam.id}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell>Delete</th>
    <td *matCellDef="let exam" mat-cell>
      <button (click)="deleteExam($event, exam)" color="warn" mat-mini-fab>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
  <tr *matRowDef="let myRowData; columns: columnsToDisplay" [routerLink]="['/exam/' + myRowData.id]" mat-row></tr>
</table>
