<div class="management-wrapper">
  <input #fileInput (change)="importFiles($event.target.files)" accept="image/*" multiple style="display: none"
         type="file">
  <button (click)="fileInput.click()" mat-raised-button> Import Files</button>
  <mat-selection-list #fileSelectionList [multiple]="false">
    <mat-list-option *ngFor="let file of sheetNames" [value]="file">
      <mat-icon class="file-state-icon" mat-list-icon>{{iconForFile(file)}}</mat-icon>
      <div mat-line>{{file}}</div>
      <div mat-line>Immatriculation Number</div>
    </mat-list-option>
  </mat-selection-list>
</div>
<mat-tab-group animationDuration="0ms" class="visual-container">
  <mat-tab label="Canvas">
    <div class="canvases">
      <canvas #SingleMarkAnalysisCanvas class="mark-analyzer" height="32" width="32"></canvas>
      <canvas #MainAnalysisCanvas></canvas>
    </div>
  </mat-tab>
  <mat-tab label="Processed">
    <app-marking-sheet
      [evaluation]="batchResult.sheets[fileSelectionList.selectedOptions.selected[0]?.value]"></app-marking-sheet>
  </mat-tab>
  <mat-tab label="Results">
    <ng-container *ngIf="fileSelectionList.selectedOptions.selected[0]?.value
    && batchResult.sheets[fileSelectionList.selectedOptions.selected[0]?.value].individualPoints"
                  class="existence-wrapper">
      <div
        *ngFor="let pt of batchResult.sheets[fileSelectionList.selectedOptions.selected[0]?.value].individualPoints; index as i">
        <label>Question {{i + 1}}: {{pt}} pts</label>
      </div>
    </ng-container>
  </mat-tab>
</mat-tab-group>
