:host {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
}

.overview-wrapper {
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  .management-wrapper {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    margin: 10px;

    overflow-y: scroll;

    button {
      margin-bottom: 10px;
    }

    button, mat-form-field {
      width: 95%;
    }
  }
}

.visual-container {
  width: 70%;
  height: 100%;
  overflow-y: scroll;
}

.canvases {
  display: flex;
  flex-direction: column;

  .height32 {
    height: 32px;
  }

  .square {
    width: 32px;
    height: 32px;
  }

  .third-a4-width {
    width: 290px;
  }

  .digit-canvases {
    display: flex;
    flex-direction: row;
  }
}
