<app-pages (questionSizes)="compactPages($event)" *ngIf="autoCompact" [autoCompact]="false"
           class="inner-pages"></app-pages>

<ng-container *ngFor="let page of pages; index as i; trackBy: trackByFn" class="page">
  <div class="content-wrapper">
    <app-page-header></app-page-header>
    <p>{{page.type}}</p>
    <div class="inner-content-wrapper">
      <ng-container *ngIf="page.type === 'questions'">
        <ng-container *ngFor="let question of page.questions; index as j; trackBy: trackByFn" class="page">
          <div [class]="autoCompact ? 'question-body-wrapper' : 'question-body-wrapper-selector'">
            <h1>Question {{getQuestionNumber(i, j)}}:</h1>
            <div *ngFor="let elem of question?.elements || []; index as k; trackBy: trackByFn">
              <ng-container *ngIf="isText(elem)">
                <ng-katex-paragraph [paragraph]="elem"></ng-katex-paragraph>
              </ng-container>
              <img *ngIf="isImage(elem)" [src]="elem.base64string">
              <div *ngIf="isQuestion(elem)" class="prompt-wrapper">
                <span>{{examManager.getCharOfElem(question, k)}})</span>
                <ng-katex-paragraph [paragraph]="elem.question"></ng-katex-paragraph>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="page.type === 'pdf'">
        <pdf-viewer *ngIf="!!page.pdf?.url" [page]="page.pdfPage" [render-text]="true" [show-all]="false"
                    [src]="page.pdf.url"
                    [stick-to-page]="true" [zoom]="0.4" class="pdf-preview"></pdf-viewer>
      </ng-container>
    </div>
    <div class="space-consumer"></div>
  </div>
</ng-container>
