<mat-card class="element-card">
  <mat-form-field>
    <mat-label>Element Type</mat-label>
    <mat-select (selectionChange)="changeType($event.value)" [ngModel]="getCurrentType()">
      <mat-option *ngFor="let key of getElemTypes()" [value]="key">{{types[key]}}</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container [ngSwitch]="getCurrentType()">
    <ng-container *ngSwitchCase="types.Text">
      <mat-form-field appearance="fill">
        <mat-label>Question Text</mat-label>
        <textarea [(ngModel)]="question.elements[elementIndex]" matInput></textarea>
      </mat-form-field>
    </ng-container>
    <ng-container *ngSwitchCase="types.Image">
      <span>An image:</span>
      <span>{{question.elements[elementIndex] | json}}</span>
    </ng-container>
    <ng-container *ngSwitchCase="types.Subquestion">
      <mat-form-field>
        <mat-label>Prompt</mat-label>
        <input (change)="examManager.modified = true" [(ngModel)]="question.elements[elementIndex].question" matInput
               type="text">
      </mat-form-field>
      <mat-checkbox (change)="examManager.modified = true" [(ngModel)]="question.elements[elementIndex].answer">Answer
      </mat-checkbox>
    </ng-container>
  </ng-container>
  <mat-card-actions>
    <button (click)="move(-1)" mat-button>Move up</button>
    <button (click)="move(1)" mat-button>Move down</button>
    <button (click)="remove()" mat-button>Remove</button>
  </mat-card-actions>
</mat-card>
