<mat-card class="element-card">
  <mat-form-field>
    <mat-label>Element Type</mat-label>
    <mat-select (selectionChange)="changeType($event.value)" [ngModel]="getCurrentType()">
      <mat-option *ngFor="let key of getElemTypes()" [value]="key">{{types[key]}}</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container [ngSwitch]="getCurrentType()">
    <ng-container *ngSwitchCase="types.Text">
      <mat-form-field appearance="fill">
        <mat-label>Question Text</mat-label>
        <textarea matInput [(ngModel)]="question.elements[elementIndex]"></textarea>
      </mat-form-field>
    </ng-container>
    <ng-container *ngSwitchCase="types.Image">
      <span>An image:</span>
      <span>{{question.elements[elementIndex] | json}}</span>
    </ng-container>
    <ng-container *ngSwitchCase="types.Subquestion">
      <mat-form-field>
        <mat-label>Prompt</mat-label>
        <input matInput type="text" [(ngModel)]="question.elements[elementIndex].question" (change)="examManager.modified = true">
      </mat-form-field>
      <mat-checkbox [(ngModel)]="question.elements[elementIndex].answer" (change)="examManager.modified = true">Answer</mat-checkbox>
    </ng-container>
  </ng-container>
  <mat-card-actions>
    <button mat-button (click)="move(-1)">Move up</button>
    <button mat-button (click)="move(1)">Move down</button>
    <button mat-button (click)="remove()">Remove</button>
  </mat-card-actions>
</mat-card>
