:host {
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
}

.question-card-content {
  display: flex;
  flex-direction: column;
}

.exam-element-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.visibility-toggle {
  cursor: pointer;
}

.pdf-preview {
  margin-top: 10px;
  height: 500px;
}
