<mat-card>
  <mat-card-header class="exam-element-card-header">
    <mat-icon (click)="collapse()" class="visibility-toggle">remove_red_eye</mat-icon>
    <mat-card-title>{{getTitle()}}</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="elementIndex === activeIndex" class="question-card-content">
    <mat-form-field appearance="fill">
      <mat-label>Points</mat-label>
      <input [(ngModel)]="question.points" matInput max="1000" min="0" type="number">
    </mat-form-field>

    <label>Question body:</label>
    <app-element-editor *ngFor="let elem of question.elements; index as i;trackBy: trackByFn" [elementIndex]="i"
                        [question]="question"></app-element-editor>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="move(-1)" mat-button>Move up</button>
    <button (click)="move(1)" mat-button>Move down</button>
    <button (click)="addElement()" mat-button>Add Element</button>
  </mat-card-actions>
</mat-card>
