<mat-card>
  <mat-card-header class="exam-element-card-header">
    <mat-icon (click)="collapse()" class="visibility-toggle">remove_red_eye</mat-icon>
    <mat-card-title>{{getTitle()}}</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="elementIndex === _activeIndex" class="question-card-content">
    <ng-container *ngIf="_element.type === 'question'">
      <mat-form-field appearance="fill">
        <mat-label>Points</mat-label>
        <input [(ngModel)]="question.points" matInput max="1000" min="0" type="number">
      </mat-form-field>

      <label>Question body:</label>
      <app-element-editor *ngFor="let elem of question.elements; index as i;trackBy: trackByFn" [elementIndex]="i"
                          [question]="question"></app-element-editor>
    </ng-container>
    <ng-container *ngIf="_element.type === 'pdf'">
      <input #fileInput (change)="importPdf($event.target.files)" accept="application/pdf" multiple style="display: none"
             type="file">
      <button (click)="fileInput.click()" mat-raised-button>Choose file</button>
      <pdf-viewer class="pdf-preview" *ngIf="pdf.url" [src]="pdf.url" [render-text]="true" [page]="1"
                  [stick-to-page]="true" [zoom]="0.4" [show-all]="false"></pdf-viewer>
    </ng-container>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button (click)="move(-1)" mat-raised-button>Move up</button>
    <button (click)="move(1)" mat-raised-button>Move down</button>
    <button (click)="addElement()" mat-raised-button>Add Element</button>
    <button (click)="removeElement()" color="warn" mat-button>Remove Element</button>
  </mat-card-actions>
</mat-card>
